.contain {
    margin: auto;
    /* margin-left: 10px; */
    width: 105%;
    padding: auto;
}

Link {
    color: red;
    background-color: rgb(21, 225, 225);
}

ListGroup Link {
    background-color: rgb(21, 225, 225);

}