.pending-request-container {
    margin: -10px;

}

.pending-request-header {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.pending-request-table {
    width: 100%;
}

.pending-request-table th,
.pending-request-table td {
    text-align: center;
}

.pending-request-table th.header {
    color: #fff;
    padding: 4px;
}

.header {
    padding: 5px;
}

.pending-request-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.pending-request-header {
    color: rgb(220, 16, 176);
    font-weight: bold;
    text-shadow: 3px slateblue;
    text-shadow: black;
    display: inline;
    padding: 5px;
}